
.image {
    display: block;
    width: 100%;
    object-fit: cover;
    height: auto;
    padding: 0 20px;
    padding-bottom: 20px;
}
picture {
    display: block;
    width: 100%;
    object-fit: cover;
}

@media only screen and (min-width: 768px) {
    .image {
        aspect-ratio: 2.197 / 1;
    }

    .image {
        padding: 0 40px;
        padding-bottom: 20px;
    }
}

